.title-slide {
  background-image: url(https://yufree.github.io/presentation/figure/UWlogo.png);
  background-position: bottom;
  background-size: 400px 260px;
}
.title-slide .remark-slide-number {
  display: none;
}
.title-slide h1 {
  text-shadow: none;
  margin-top: -70px;
}